.Right {
  border: 1px solid #f9f6f2;

  width: 75%;
  width: 65%;

  margin: 0.5rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.Right > * {
  /* border: 1px solid tomato; */
}
div.LeftRight {
  display: flex;
  height: 100%;
  width: 50%;
  border: 1px solid #f9f6f2;
}
div.RightRight {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  /* width: 50%; */
}

.icons > img {
  margin: 0.5rem;
  width: 15%;
}
.icons > img:active {
  background-color: tomato;
  border-radius: 4px;
}
.icons > a {
  border: 1px solid #f9f6f2;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 15%;
  text-transform: uppercase;
}
.icons > a:hover {
  background-color: tomato;
}
.icons > a:active {
  background-color: #f9f6f2;
  color: black;
  border-radius: 4px;
}
