.DateTime {
  /* border: 1px solid #f9f6f2; */
  padding: 0px 0px 0.5rem 0px;
  font-size: 1.6rem;
  font-weight: 200;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DateTime > div:nth-child(1) {
  font-size: 2.2rem;
  font-weight: 300;
}
.DateTime > div:nth-child(2) {
  padding: 0.3rem 0px;
}
.DateTime > div:nth-child(3) {
  border: 1px solid #f9f6f2;
  /* width: 7rem; */
  /* height: 2.5rem; */
  padding: 0.5rem 1rem;
  margin: 0.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.DateTime > div:nth-child(3) > span {
  margin: 0px 0.2rem;
  font-weight: 400;
  animation: blink 1s infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
