.Searchbar {
  /* border: 1px solid #f9f6f2; */
  justify-content: center;
  height: 10%;
  width: 99%;
}

#search-container {
  display: flex;
  align-items: center;
  margin: 1rem;
  border-bottom: 1px solid #f9f6f2;
}

#search-container > img {
  margin-right: 1vmin;
  margin-bottom: 1vmin;
}

#search-container > input[type="text"] {
  height: 4vmin;
  width: 40vmin;
  border: none;
  background-color: transparent;
  color: #f9f6f2;
  font-family: "Inconsolata", monospace;
  font-size: 2.2rem;
  font-weight: 200;
  text-align: left;
  margin-left: 1vmin;
  margin-bottom: 1vmin;
}

#search-container > input[type="text"]::selection {
  background-color: tomato;
}
